
include ../main.jade

+App
  #container
    #search.fl
      .search__button.fl
        input(id='search__button', type='button', value='Search')
      span
        input(id='search__text', type='text')
    #books.fl.ovf
    #chapters.fl.ovf
    #verses.ovf
  +App_Script
  script
    include ../../node_modules/react/dist/react.min.js
  script
    include:ls app.ls